.hero {
  height: 100vh;
  background-image: url(../photo/main_visual_fullscreen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .title {
  color: white;
  font-size: 48px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}
